<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Contact</title>

  <link rel="stylesheet" href="../style/style-index.css">
</head>
<body>
  <header>

    <nav>

      <img id="firm_icon_main" src="../style/media/images/icons/ecoimmo-icon.png" alt="Logo EcoImmo">

      <span id="searchfield_nav">
          <img src="../style/media/images/icons/glass-icon.svg" alt="Icon magnifying glass">
          <form action="" method="get">
              <input type="text" name="searchfield" placeholder="Département">
          </form>
      </span>

      <div id="nav_buttons">
        <a class="nav_button" href="../index.html">accueil</a>
        <a class="nav_button" href="./bien-page.html">biens</a>
        <a class="nav_button" href="./contact-page.html">contact</a>
        <a id="nav_burger_menu" href="">
          <img src="../style/media/images/icons/burger-menu.svg" alt="burger menu">
        </a>
      </div>

    </nav>

    <div class="hr_separator"></div>

    <img src="../style/media/images/backgrounds/desktop-firm-header.svg" alt="firm logo and some fancyness" id="firm_header_background">

  </header>

  <main>
    <form action="/" method="post">
        <span id="enter_mail">
          Entrez votre mail :
          <br>
            <input type="email" placeholder="Email">
        </span>

      <br>
      <br>

      <span id="message_mail">
          Votre message :
          <br>
            <textarea name="message_mail_textarea" id="" cols="40" rows="10"></textarea>
        </span>

      <br>
      <br>

      <span class="submit_button">
          Envoyer :
          <br>
          <input type="submit" class="submit_button">
        </span>

      <br>
      <br>

      <span class="clear_button">
          <input type="reset" class="clear_button">
      </span>

    </form>
  </main>

  <footer>

      <div id="footer_infos_container">
        <div id="footer_infos_titles">
          <span>Support</span>
          <a href="contact-page.html">Contact</a>
          <span>Langues</span>
        </div>
        <div id="footer_infos_descriptions">
          <div>
            <span>Section légale</span>
            <span>EcoImmo ©</span>
          </div>
          <div>
            <span>Facebook</span>
            <span>Twitter</span>
            <span>Reddit</span>
          </div>
          <div>
            <span>Français</span>
            <span>Deutsch</span>
            <span>English</span>
          </div>
        </div>
      </div>

    </footer>
</body>
</html>
